.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#calculadora {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(6, 75px);
  background-color: rgb(76, 79, 255);
  border-radius: 15px;
  padding: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#display {
  text-align: right;
  grid-column: span 4;
  border: 1px solid #000;
  background: rgb(97, 97, 97);
  border-radius: 10px;
  padding: 12px 10px;
  font-size: 36px;
}
.column-2 {
  grid-column: span 2;
}
button {
  cursor: pointer;
  margin: 5px;
  border-radius: 35px;
  border: none;
  background: rgb(255, 255, 255);
  font-size: 25px;
  color: rgb(0, 0, 0);
}

button:active {
  background: rgb(75, 75, 75);
}