/* Por tipo de HTML */
h1 {
  color: red;
  background-color: blue;
  border: 1px solid black;
  width: 600px;
  height: 90px;
}
h2 {
  color: #00cc99;
  background: #b76d0b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid red;
}
p {
  background: lightseagreen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: black;
}
