* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  display: none;
}
.container {
  padding: 8px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container-form {
  gap: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: end;
}
.card p {
  font-size: 24px;
}
.card {
  width: 350px;
  background: linear-gradient(180deg, #468ce7 0%, #1d33f8 100%);
  color: white;
  padding: 20px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.info-card {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.card-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  opacity: 0.7;
}

.formulario {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
label {
  font-size: 14px;
  color: #555454;
}
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: blue;
  width: 100%;
}
button {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.error-message {
  color: red;
  font-size: 10px;
}
